

.body {
  width: 100% !important;
}

.nav-brand {
    text-decoration: none;
    font-size: 22px;
    color: white;
}


.navbar-nav a{

    font-size: 20px;
    margin: 0 10px;

}

/* 
* Hero Section right side image!
 */

 h5 small {
   padding-left: 13%;
 }


  .img-side {
    width: 100%;
    margin: 0 auto;
    margin-left: 2%;
    margin-right: 2%;
  }
  .image-css {
    margin: 0 auto;
    
  }

  .list-description {
    font-weight: bold;
    font-size: 20px;
    margin: 10px auto;
    padding-bottom: 20px;
  
  }

  /* Hero list section */
  .card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    font-weight: bold;
  }
  .news-card {
    position: relative;
    overflow: hidden;
    height: 300px;
    border: none;
    border-radius: 10px;
  }
  .news-card img {
    object-fit: cover;
    width: 100%;
    height: 100%; }


    /* Information Section! */

    .editor {
        font-size: 45px;
        margin-top: 15px;
        margin-bottom: 40px;
    }

    .info-des {
        font-size: 22px;
        margin-top: 15px;
        margin-bottom: 40px;  
     }

     /*  Latest News Section!*/

     .latest-news-section {
      background: #ff9f43;
       width: 100%;
     }


     .news1-title {
      font-size: 50px;
      font-weight: bold;
    }

    .news1-card img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    
    }

    .news1-meta {
      text-transform: uppercase;
      font-size: 0.875rem;
      color: #444;
   
      font-weight:bold ;
    }

    .news1-heading {
      font-weight: bold;
      font-size: 1.25rem;
      margin-top: 0.5rem;
     
    }

    .view-all {
      text-align: right;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .view-all a {
      color: black;
      text-decoration: none;
      font-weight: bold;
      font-size: 25px;
    }

    .list-group-item-2 {
      margin-bottom: 20px;
      border-bottom: 1px solid grey;
      padding: 10px;
      text-decoration: none;
      font-size: 20px;
    }
    .list-group-item-2:hover {
      background: #ff9f43;
    }

    .list-group-item-2 a {
      font-weight: bold;
      color: black;
      text-decoration: none;
    }